


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --booleano-primary:#7c69a4;
    --booleano-header: #ff9614;
    --booleano-title: #4e3969;
    --booleano-dark: #020202;
    --booleano-light-dark: #aeb5b9;
    --booleano-back : #f6f5f3;
}

body{
    background-color: var(--booleano-back);
}


.container{
    width:70%;
    margin: auto;
    padding: 1rem;

}

header{
    background-color: white;

    h1{
        color: #ff9614;
        size: 42px;
    }
}


.card{
    width: 100%;
    height: 70%;
    background-color: white;
    box-shadow: 5px 5px 5px #dedede;

}

main{

}

