


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --booleano-primary:#7c69a4;
    --booleano-header: #ff9614;
    --booleano-title: #4e3969;
    --booleano-dark: #020202;
    --booleano-light-dark: #aeb5b9;
    --booleano-back : #f6f5f3;
}

body{
    background-color: var(--booleano-back);
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}


.container{
    width:70%;
    margin: auto;
    padding: 1rem;

}

header{
    background-color: white;

    h1{
        color: #ff9614;
        size: 42px;
        font-family:'Nerko One', cursive;
    }
}


.card{
    width: 100%;
    height: 70%;
    background-color: white;
    box-shadow: 5px 5px 5px #dedede;
    display: flex;
    

}

main{
h1{
    color: var(--booleano-title);
    padding: 1rem 0rem;
}
p{
    color: var(--booleano-light-dark);
}
}

.ingredients{
    h3{
        padding: 2rem;
    }
    li{
        list-style: none;
        padding: 1rem 2rem;
    }
}




@media screen and (max-width: 991px){

.card{
    flex-direction: column;
}


}






@media screen and (max-width: 767px){

}